#ficha-tarea {
    margin: 3px;
    padding: 5px;
    border: 1px;
    border-radius: 3px;
    background-color: cadetblue;
    width: max-content;
    height: fit-content;
}

#nombre-tarea {
    color: rgb(16, 16, 16);
    font-size: large;
    font-family: sans-serif;
}

#duraccion-tarea {
    color: rgb(16, 16, 16);
    font-size: large;
    font-family: sans-serif;
}